/* 
Author: Tom Petty
anothertompetty.com
Copyright 2014
*/

/* reset */

body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, blockquote {
	margin: 0; padding: 0; border: 0;
}

/* base/master */

body
{
	font-family: "minion-pro",times, georgia, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: #3C3C3C;
	background-color: #f9f9f9;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;       
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto !important;
}

img a
{
	text-decoration: none;
}

/*layout styles*/

#container {
	position: relative;
	width: 100%;
	margin: 0 auto;
}

header {
	min-width: 320px;
}

#menu-icon {
	position: absolute;
	display: inline-block;
	width: 18px;
	height: 12px;
	left: auto;
	right: 20px;
	top: 20px;
	background-image: url('hamburger.svg');
	background-repeat: no-repeat;
	text-indent: -9999px;
}

header ul {
	display: none;
	text-align: center;
	padding-bottom: 20px;
	background-color: #fff;
	width: 100%;
	padding-bottom: 20px;	
}

header ul li {
	padding-top: 20px;
}

.logo {
	width: 128px;
	padding: 10px;
	position: relative;
	display: block;
	margin: 0 auto;
	top: 4px;
	background-image: url('logo.svg');
	background-repeat: no-repeat;
	background-position-y: 14px;
	background-position-x: 11px;
	text-indent: -9999px;
	z-index: 10;
}

header img.logo a {
	width: 2px;
}

img.avatar {
	display: block;
	width: 128px;
	margin: 0 auto;
	margin-top: 20px;
}

.quote {
	width: 80%;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 40px;
}

section {
	text-align: center;
}

.item {
	position: relative;
	padding: 60px 10px;
	background-color: #000;
	width: 100%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.item p {
	text-align: center;
	width: 75%;
	margin: 0 auto;
	color: #fff;
}

.first {
	background-color: rgb(98,170,238);
}

.second {
	background-color: rgb(125,186,241);
}

.third {
	background-color: rgb(147,233,196);
}

.fourth {
	background-color: rgb(128,227,182);
}

.fifth {
	background-color: rgb(235,164,130);
}

.sixth {
	background-color: rgb(237,176,167);
}

hr {
	width: 40px;
	border: 0;
	border-bottom: 1px white solid;
}

.quote hr {
	width: 40px;
	border: 0;
	border-bottom: 1px #3c3c3c solid;
	margin-top: 20px;
	margin-bottom: 15px;
}

footer {
	text-align: center;
	color: #3c3c3c;
	background-color: #fff;
}

/*typography styles*/

h2, blockquote {
	font-family: "futura-pt", helvetica, arial, sans-serif;
	font-style: normal;
	font-weight: 700;
}

h2, blockquote {
	font-style: none;
	font-size: 22px;
	line-height: 100%;
	text-transform: uppercase;
}

h2 {
	color: #fff;
}

blockquote {
	text-align: center;
}

.item p {
	line-height: 135%;
}

p.name {
	text-align: center;
}

/*link styles*/

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: #3c3c3c;
}

header ul a {
	border-bottom: 1px mediumseagreen;
}

/*mobile styles*/

/*640 up*/
@media only screen and (min-width:640px) {

header {
	background-color: transparent;
	padding-top: 16px;
	box-sizing: border-box;
	text-align: left;
}

.logo {
	width: 300px;
	padding: 0px;
	margin-top: 6px;
	margin-left: 20px;
	left: 0px;
	background-position-y: 0px;
	display: inline-block;
}

#menu-icon {
	display: none;
}

header ul {
	position: absolute;
	display: inline-block;
	text-align: left;
	background-color: transparent;
	padding: 0px;
	margin-right: 20px;
	font-size: 14px;
	left: auto;
	right: 0px;
	z-index: 10;
	width: auto;
}

header ul li {
	padding: 0;
	float: left;
}

header ul a {
	padding: 10px;
	box-sizing: border-box;
	-webkit-transition: all 200ms ease-in-out;
	   -moz-transition: all 200ms ease-in-out;
	     -o-transition: all 200ms ease-in-out;
	        transition: all 200ms ease-in-out;
}

header ul a:hover {
	background-color: #f0f0f0;
}

img.avatar {
	margin-top: 0px;
}

.quote {
	width: 480px;
	margin: 0 auto;
	padding: 40px 0px;
}

blockquote {
	font-size: 32px;
	line-height: 110%;
}

.item {
	width: 480px;
	margin: 0 auto;
	padding: 120px 0px;
}

footer {
	position: fixed;
	padding: 0;
	margin: 0;
	top: auto;
	bottom: 15px;
	left: auto;
	right: 50px;
	z-index: 10;
	background-color: transparent;
	font-size: 14px;
	opacity: 0.5;
}
    
}

/* 960 up */
 @media screen and (min-width:960px) {

#container {
	width: 960px;
}

.logo {
	margin-left: 0px;
}

header ul {
	margin-right: 0px;
}

.item {
	display: inline-block;
	float: left;
	padding: 180px 0px;
}

.item.last {
	margin-bottom: 40px;
}

}
  
/* 1600 up */
 @media screen and (min-width:1600px) {

}

/* 11g - 2000 up (increase base font size) */
@media screen and (min-width:2000px) {
    
}
  
/* 11h - 2400 up (increase margins) */
@media screen and (min-width:2400px) {
    
}