<!DOCTYPE HTML>

<head>

<title>Daysmiths | Andrew's Day</title>

<meta name="description" content="The portfolio of Tom Petty, a London based designer." />
<meta name="author" content="Tom Petty - @tp">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" >
<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimal-ui">

<link rel="stylesheet" type="text/css" media="screen" href="css/style.css">

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="//use.typekit.net/jrj4dnp.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		
</head>
	
<body>
	
	<div class="signupform">
		
		<div class="container">
		
		<div class="why-signup">
			
			<h2>Your day, made</h2>
			
			<p>Get a new day each week straight into your inbox. Nothing more, nothing less.</p>
			<p class="signup pullup">Close</p>
		
		</div>
		
		<div id="mc_embed_signup">
		
		<form action="http://daysmiths.us3.list-manage1.com/subscribe/post" method="POST">
			
			<input type="hidden" name="u" value="7764fe402deb87e43f015ac20">
			<input type="hidden" name="id" value="48bde8926a">

		    <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="" placeholder="example@email.com">

			<!-- real people should not fill this in and expect good things -->
			<div style="position: absolute; left: -5000px;">
				<input type="text" name="b_7764fe402deb87e43f015ac20_48bde8926a" value="">
			</div>

			<div class="submit_container">
				<input type="submit" class="button" name="submit" value="Sign up">
			</div>
		
		</form>
		
		</div>
		
		</div>
		
	</div>
	
	<div id="view-all">
		
		<p class="view-all-trigger close-icon">Close</p>
		
		<ul>
			<li><a href="latest.html">Camilla's day</a></li>
			<li><a href="1.html">Tom's day</a></li>
		</ul>
		
	</div>
	
<div class="container">
		
	<header>
		
		<a href="index.html" class="logo">Daysmiths</a>
		
		<a href="#" id="menu-icon">Menu</a>
		
		<ul id="menu">
			<li><a href="latest.html">This week</a></li>
			<li class="view-all-trigger"><a href="#">View all</a></li>
			<li class="signup pulldown">Sign up</li>
		</ul>
				
	</header>
	
	{{content}}
	
	<footer>
				
		<div class="bottom">
		
			<p>Made by <a href="http://www.anothertompetty.com">Tom Petty</a>. &copy; 2014</p>
		
		</div>
				
	</footer>

</div>

<script type="text/javascript" src="js/scripts.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47448613-2', 'daysmiths.com');
  ga('send', 'pageview');

</script>
	
</body>

</html>